<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcaaaaaakes</title>
  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
      <ul id="cupcake_list">

      </ul>
  </div>
  <p>GIMME MOAR CUPCAAYKES</p>
  <form id="add_cupcake_form" method="POST">
    <div>
      <label for="flavor">Flavor:</label>
        <input name="flavor" type="text">
    </div>
    <div>
      <label for="size">Size: </label>
        <input name="" type="text">
    </div>
    <div>
      <label for="rating">Rating: </label>
        <input name="rating" type="text">
    </div>
    <div>
      <label for="image_url">Image URL: </label>
        <input name="image_url" type="url">
    </div>
    <button type="submit">EXPLOSION OF FLAVOR!</button>
  </form>
</body>
</html>